/* Toolbar background & button color */
.ql-toolbar {
    background-color: var(--input); /* dark background */
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border: none !important;
  }
  
  .ql-toolbar button {
    color: #fff; /* icon color */
  }
  
  .ql-toolbar button:hover {
    background-color: var(--primary); /* hover background */
  }
  
  /* Editor container */
  .ql-container {
    background-color: var(--input); /* editor background */
    border: none !important;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  /* Placeholder style */
  .ql-editor.ql-blank::before {
    color: #888; /* placeholder text color */
  }
  .ql-editor h1 {
    font-size: 2em;
  }
  .ql-editor h2 {
    font-size: 1.5em;
  }
  .ql-editor ol {
    list-style-type: decimal;
  }
  .ql-editor ul {
    list-style-type: disc;
  }