.ql-editor {
    position: relative;
    * {
      cursor: pointer !important;
    }
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.5em;
    }
    ol {
      list-style-type: decimal;
    }
    ul {
      list-style-type: disc;
    }
    .ql-blank::before {
      color: #888; /* placeholder text color */
    }
  }
  
  .content-container a {
    color: #3498db; /* or blue */
    text-decoration: underline; /* optional */
  }
  
  .content-container a:hover {
    color: #2980b9;
  }
  .multiline-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines before cutoff */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  